In [61]:
import pandas as pd
from sklearn.decomposition import PCA

#1. Explain dimension reduction in machine learning.
#PROGRAMMING QUESTION

In [62]:
from sklearn import datasets

In [63]:
data1 = datasets.load_diabetes() 
data1.keys()

dict_keys(['data', 'target', 'DESCR', 'feature_names', 'data_filename', 'target_filename'])

In [64]:
data1.feature_names

['age', 'sex', 'bmi', 'bp', 's1', 's2', 's3', 's4', 's5', 's6']

In [65]:
print(data1['DESCR'])

.. _diabetes_dataset:

Diabetes dataset
----------------

Ten baseline variables, age, sex, body mass index, average blood
pressure, and six blood serum measurements were obtained for each of n =
442 diabetes patients, as well as the response of interest, a
quantitative measure of disease progression one year after baseline.

**Data Set Characteristics:**

  :Number of Instances: 442

  :Number of Attributes: First 10 columns are numeric predictive values

  :Target: Column 11 is a quantitative measure of disease progression one year after baseline

  :Attribute Information:
      - Age
      - Sex
      - Body mass index
      - Average blood pressure
      - S1
      - S2
      - S3
      - S4
      - S5
      - S6

Note: Each of these 10 feature variables have been mean centered and scaled by the standard deviation times `n_samples` (i.e. the sum of squares of each column totals 1).

Source URL:
https://www4.stat.ncsu.edu/~boos/var.select/diabetes.html

For more information see:
Bradley Efron, Trevor Hastie, Iain Johnstone and Robert Tibshirani (2004) "Least Angle Regression," Annals of Statistics (with discussion), 407-499.
(https://web.stanford.edu/~hastie/Papers/LARS/LeastAngle_2002.pdf)

In [66]:
dia = pd.DataFrame(data1['data'],columns=data1['feature_names'])
dia

          age       sex       bmi  ...        s4        s5        s6
0    0.038076  0.050680  0.061696  ... -0.002592  0.019908 -0.017646
1   -0.001882 -0.044642 -0.051474  ... -0.039493 -0.068330 -0.092204
2    0.085299  0.050680  0.044451  ... -0.002592  0.002864 -0.025930
3   -0.089063 -0.044642 -0.011595  ...  0.034309  0.022692 -0.009362
4    0.005383 -0.044642 -0.036385  ... -0.002592 -0.031991 -0.046641
..        ...       ...       ...  ...       ...       ...       ...
437  0.041708  0.050680  0.019662  ... -0.002592  0.031193  0.007207
438 -0.005515  0.050680 -0.015906  ...  0.034309 -0.018118  0.044485
439  0.041708  0.050680 -0.015906  ... -0.011080 -0.046879  0.015491
440 -0.045472 -0.044642  0.039062  ...  0.026560  0.044528 -0.025930
441 -0.045472 -0.044642 -0.073030  ... -0.039493 -0.004220  0.003064

[442 rows x 10 columns]

In [67]:
dia.isnull().sum()

age    0
sex    0
bmi    0
bp     0
s1     0
s2     0
s3     0
s4     0
s5     0
s6     0
dtype: int64

In [68]:
data1['data']

array([[ 0.03807591,  0.05068012,  0.06169621, ..., -0.00259226,
         0.01990842, -0.01764613],
       [-0.00188202, -0.04464164, -0.05147406, ..., -0.03949338,
        -0.06832974, -0.09220405],
       [ 0.08529891,  0.05068012,  0.04445121, ..., -0.00259226,
         0.00286377, -0.02593034],
       ...,
       [ 0.04170844,  0.05068012, -0.01590626, ..., -0.01107952,
        -0.04687948,  0.01549073],
       [-0.04547248, -0.04464164,  0.03906215, ...,  0.02655962,
         0.04452837, -0.02593034],
       [-0.04547248, -0.04464164, -0.0730303 , ..., -0.03949338,
        -0.00421986,  0.00306441]])

In [69]:
pca = PCA(n_components=1)
pca.fit(data1['data'])
dd = pca.transform(data1['data'])

#target = pd.DataFrame(data=data1['target'])
data1['target'] = data1['target'].reshape(442,1)
print(data1['target'].shape)
print(dd.shape)
#print(target.shape)
#print(target)

(442, 1)
(442, 1)

#2. How can you handle duplicate values in a dataset for a variable in Python using pandas?

In [70]:
from google.colab import files
files.upload()

Saving DataPreprocessing.csv to DataPreprocessing (2).csv

{'DataPreprocessing.csv': b'\xef\xbb\xbfRegion,Age,Income,Online Shopper\r\nIndia,49,86400,No\r\nBrazil,32,57600,Yes\r\nUSA,35,64800,No\r\nBrazil,43,73200,No\r\nUSA,45,,Yes\r\nIndia,40,69600,Yes\r\nBrazil,,62400,No\r\nIndia,53,94800,Yes\r\nUSA,55,99600,No\r\nIndia,42,80400,Yes\r\n'}

In [71]:
data = pd.read_csv('DataPreprocessing.csv')
data

   Region   Age   Income Online Shopper
0   India  49.0  86400.0             No
1  Brazil  32.0  57600.0            Yes
2     USA  35.0  64800.0             No
3  Brazil  43.0  73200.0             No
4     USA  45.0      NaN            Yes
5   India  40.0  69600.0            Yes
6  Brazil   NaN  62400.0             No
7   India  53.0  94800.0            Yes
8     USA  55.0  99600.0             No
9   India  42.0  80400.0            Yes

In [72]:
data.sort_values('Region',inplace=True)
data

   Region   Age   Income Online Shopper
1  Brazil  32.0  57600.0            Yes
3  Brazil  43.0  73200.0             No
6  Brazil   NaN  62400.0             No
0   India  49.0  86400.0             No
5   India  40.0  69600.0            Yes
7   India  53.0  94800.0            Yes
9   India  42.0  80400.0            Yes
2     USA  35.0  64800.0             No
4     USA  45.0      NaN            Yes
8     USA  55.0  99600.0             No

In [73]:
data.duplicated('Region')

1    False
3     True
6     True
0    False
5     True
7     True
9     True
2    False
4     True
8     True
dtype: bool

In [74]:
bool_series = data.duplicated('Region') 
data = data[~bool_series]  
data

   Region   Age   Income Online Shopper
1  Brazil  32.0  57600.0            Yes
0   India  49.0  86400.0             No
2     USA  35.0  64800.0             No